<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>{{Alvo.Email}}</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/portfolio-item.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css'>

      <link rel="stylesheet" href="/css/chat-style.css">
</head>




<body>


  <div class="imagem"></div>



  <div class="tags"></div>






<div class="wrapper" id="principal">
  <nav class="nav" id="nav" >
    <div class="default-nav">
      <div class="main-nav">
        <div class="toggle"></div>
        <div class="main-nav-item"> {{Alvo.Email}}</div>
        <div class="options"></div>
      </div>
    </div>
  </nav>
  <div class="inner" id="inner">
    <div class="content" id="content"></div>
  </div>
  <div class="bottom" id="bottom">
    <textarea class="input" id="input"></textarea>
    <div class="send" id="send"></div>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="/js/chat-index.js"></script>

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

 <script >

$(document).ready(function(){
     setInterval(segue,200);
});
var variavel = "";
function segue(){
    $.get("/msg/{{Alvo.Email}}", update);

}
function update(data, status) {
  if(variavel != data.conteudo){
        $('#content').append('<div class="message-wrapper them"><div class="circle-wrapper animated bounceIn"></div><div class="text-wrapper animated fadeIn">' + data.conteudo + '</div> </div>');
    variavel = data.conteudo;
  }
      }
</script>

</body>
</html>
